body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

h2 {
    font-size: 25px;
    padding-bottom:15px

}

#content {
    background-color: #FFFFFF;
    overflow: hidden;
    padding-right: 20px;
    left: 0;
    width: 60%;
    position: relative;
    float: left;
    padding-left: 20px;

}

#header {
    padding-right: 40px;
    position: relative;
    width: 60%
}

#banner {
    color: #666666;
    background-color: #A6C7FF;
    padding-left: 17px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li.holidayitem {
    padding-bottom: 15px;
    border-bottom-style:inset;
}

.holidayitem  {
   font-size: 12px;
   padding-top: 10px;
}

.holidayitem a {
   font-size: 15px;
}

.actionlinks {
    float: right;
}

a:visited #sidepanel {
    color: black;
}

#sidepanel {
    color: black;
    background-color: #A6FF57;
    float: left;
    display: inline;
    width: 15%;
    padding-left: 20px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;

}

form {
    padding-top: 10px;
}

.hiddeninline {
    visibility: hidden;
    display: none;
}

.form-item {
    display: inline;
}

.action {
    background-color: #A6FF57;
    padding: 10px;
    font-size: 15px;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;

}

.action a:link {
    text-decoration: none
}

.action a:visited {
    text-decoration: none;
    background-color: #A6FF57;
}

.action a:active {
    text-decoration: none
}

.action a:hover {
    font-size: 16px;
    font-weight: bolder;
    color: #8b0000;
}

#actions {
    width: 15%;
    float: left;
}



